<p id="notice"><%= notice %></p>

<h1>Listing Healthsurveys</h1>

<table>
  <thead>
    <tr>
      <td>name %></td>
      <td>email %></td>

      <td>patient1 %></td>
      <td>insuranceProvider1 %></td>
      <td>hospitalAdministrator1 %></td>
      <td>clincian1 %></td>
      <td>physician1 %></td>
      <td>policymaker1 %></td>
      <td>communityMember1 %></td>
      <td>other1 %></td>
      <td>other1Response %></td>

      <td>competition2 %></td>
      <td>lackOfEducation2 %></td>
      <td>incongruentSystems2 %></td>
      <td>poorCommunication2 %></td>
      <td>diagnosticErrors2 %></td>
      <td>inefficientTracking2 %></td>
      <td>privacy2 %></td>
      <td>valuebasedPaymentSystems2 %></td>
      <td>disconnectBetweenSystems2 %></td>
      <td>other2 %></td>
      <td>other2Response %></td>

      <td>q3_1 %></td>
      <td>q3_2 %></td>
      <td>q3_3 %></td>

      <td>q4_1 %></td>
      <td>q4_2 %></td>
      <td>q4_3 %></td>

      <td>comparativeTools5 %></td>
      <td>eduationTraining5 %></td>
      <td>standardizingTracking5 %></td>
      <td>digitalAccess5 %></td>
      <td>diagnosticErrors5 %></td>
      <td>wearableTech5 %></td>
      <td>blockchain5 %></td>
      <td>valuebasedPayment5 %></td>
      <td>collaboration5 %></td>

      <td>q6_1 %></td>
      <td>q6_2 %></td>
      <td>q6_3 %></td>

      <td>q7_1 %></td>
      <td>q7_2 %></td>
      <td>q7_3 %></td>

      <td>q8_1 %></td>
      <td>q8_2 %></td>

      <td>q9_1 %></td>
      <td>q9_2 %></td>

      <td>connect10 %></td>
      <td>ideas10 %></td>
      <td>technologies10 %></td>
      <td>implement10 %></td>
      <td>improve10 %></td>
      <td>talent10 %></td>
      <td>funding10 %></td>
      <td>vision10 %></td>
      <td>collaboration10 %></td>

      <td>contact %></td>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @healthsurveys.each do |healthsurvey| %>
      <tr>
        <td><%= healthsurvey.name %></td>
        <td><%= healthsurvey.email %></td>

        <td><%= healthsurvey.patient1 %></td>
        <td><%= healthsurvey.insuranceProvider1 %></td>
        <td><%= healthsurvey.hospitalAdministrator1 %></td>
        <td><%= healthsurvey.clincian1 %></td>
        <td><%= healthsurvey.physician1 %></td>
        <td><%= healthsurvey.policymaker1 %></td>
        <td><%= healthsurvey.communityMember1 %></td>
        <td><%= healthsurvey.other1 %></td>
        <td><%= healthsurvey.other1Response %></td>

        <td><%= healthsurvey.competition2 %></td>
        <td><%= healthsurvey.lackOfEducation2 %></td>
        <td><%= healthsurvey.incongruentSystems2 %></td>
        <td><%= healthsurvey.poorCommunication2 %></td>
        <td><%= healthsurvey.diagnosticErrors2 %></td>
        <td><%= healthsurvey.inefficientTracking2 %></td>
        <td><%= healthsurvey.privacy2 %></td>
        <td><%= healthsurvey.valuebasedPaymentSystems2 %></td>
        <td><%= healthsurvey.disconnectBetweenSystems2 %></td>
        <td><%= healthsurvey.other2 %></td>
        <td><%= healthsurvey.other2Response %></td>

        <td><%= healthsurvey.q3_1 %></td>
        <td><%= healthsurvey.q3_2 %></td>
        <td><%= healthsurvey.q3_3 %></td>



        <td><%= healthsurvey.incraesesCosts4_1 %></td>
        <td><%= healthsurvey.decreasesAvailability4_3 %></td>
        <td><%= healthsurvey.decreasesQuality4_1 %></td>
        <td><%= healthsurvey.decreasesUse4_1 %></td>
        <td><%= healthsurvey.decreasesCollaboration4_1 %></td>
        <td><%= healthsurvey.decreasesTrust4_1 %></td>
        <td><%= healthsurvey.decreasesEfficiency4_1 %></td>

        <td><%= healthsurvey.incraesesCosts4_2 %></td>
        <td><%= healthsurvey.decreasesAvailability4_2 %></td>
        <td><%= healthsurvey.decreasesQuality4_2 %></td>
        <td><%= healthsurvey.decreasesUse4_2 %></td>
        <td><%= healthsurvey.decreasesCollaboration4_2 %></td>
        <td><%= healthsurvey.decreasesTrust4_2 %></td>

        <td><%= healthsurvey.decreasesAvailability4_3 %></td>
        <td><%= healthsurvey.incraesesCosts4_3 %></td>
        <td><%= healthsurvey.decreasesAvailability4_3 %></td>
        <td><%= healthsurvey.decreasesQuality4_3 %></td>
        <td><%= healthsurvey.decreasesUse4_3 %></td>
        <td><%= healthsurvey.decreasesCollaboration4_3 %></td>
        <td><%= healthsurvey.decreasesTrust4_3 %></td>
        <td><%= healthsurvey.decreasesEfficiency4_3 %></td>



        <td><%= healthsurvey.comparativeTools5 %></td>
        <td><%= healthsurvey.eduationTraining5 %></td>
        <td><%= healthsurvey.standardizingTracking5 %></td>
        <td><%= healthsurvey.digitalAccess5 %></td>
        <td><%= healthsurvey.diagnosticErrors5 %></td>
        <td><%= healthsurvey.wearableTech5 %></td>
        <td><%= healthsurvey.blockchain5 %></td>
        <td><%= healthsurvey.valuebasedPayment5 %></td>
        <td><%= healthsurvey.collaboration5 %></td>

        <td><%= healthsurvey.q6_1 %></td>
        <td><%= healthsurvey.q6_2 %></td>
        <td><%= healthsurvey.q6_3 %></td>

        <td><%= healthsurvey.q7_1 %></td>
        <td><%= healthsurvey.q7_2 %></td>
        <td><%= healthsurvey.q7_3 %></td>

        <td><%= healthsurvey.q8_1 %></td>
        <td><%= healthsurvey.q8_2 %></td>

        <td><%= healthsurvey.q9_1 %></td>
        <td><%= healthsurvey.q9_2 %></td>

        <td><%= healthsurvey.connect10 %></td>
        <td><%= healthsurvey.ideas10 %></td>
        <td><%= healthsurvey.technologies10 %></td>
        <td><%= healthsurvey.implement10 %></td>
        <td><%= healthsurvey.improve10 %></td>
        <td><%= healthsurvey.talent10 %></td>
        <td><%= healthsurvey.funding10 %></td>
        <td><%= healthsurvey.vision10 %></td>
        <td><%= healthsurvey.collaboration10 %></td>

        <td><%= healthsurvey.contact %></td>

        <td><%= link_to 'Show', healthsurvey %></td>
        <td><%= link_to 'Edit', edit_healthsurvey_path(healthsurvey) %></td>
        <td><%= link_to 'Destroy', healthsurvey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Healthsurvey', new_healthsurvey_path %>
